################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/test/.vs/test/FileContentIndex/199ebf25-e1e8-418c-87e1-a6f9bc54ce9e.vsidx
